NASA_API_KEY=2mz6mxUW4u1WGcLSOxchJULE5LO89czUra52ZDJ5
PORT=3001
NASA_EPIC_BASE_URL=https://epic.gsfc.nasa.gov/api
NASA_EPIC_IMAGE_URL=https://epic.gsfc.nasa.gov/archive

FRONTEND_URL=http://localhost:3000